<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" cacheDirectory=".phpunit.cache">
    <coverage/>
    <testsuites>
        <testsuite name="Pagination">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <testdoxText outputFile="php://stdout"/>
    </logging>
</phpunit>
